@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-color: #DEE7F5;
}

.image {
    background-image: url(../public/headerBD.png);
    object-fit: cover;
    object-position: center;
}

.heroImage {
    background-image: url(../public/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
}

.heroImage2 {
    background-image: url(../public/headerBD.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    height: 100%;
}

.image5 {
    background-image: url(../public/hero5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
}

.imageBD5 {
    background-image: url(../public/heroBD5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    height: 100%;
}